# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/ces-common-clients/target/
/ces-common-clients/nbproject/

/leap-ces-common-clients/target/
leap-ces-common-clients/.settings/org.eclipse.core.resources.prefs
leap-ces-common-clients/.settings/org.eclipse.jdt.apt.core.prefs
leap-ces-common-clients/.settings/org.eclipse.m2e.core.prefs
leap-ces-common-clients/.settings/org.eclipse.jdt.core.prefs
leap-ces-common-clients/.project
leap-ces-common-clients/.classpath
/target
.project
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
